<% extend("../master") %>

<div class="container-fluid main-content">
    <div class="row content">

        <!-- left section -->
        <%- include("sections/leftside"); %>
        
        <!-- right section -->
        <%- include("sections/rightside"); %>
        
    </div>
</div>
